@model IEnumerable<Apuestas.Models.Partido>


@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="titulo">APUESTAS MARADONIANAS</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                LOCAL
            </th>
            <th>
                <img src="https://www.nicepng.com/png/detail/120-1200789_dibujo-pelota-png-fs-la-massana.png" width="30" />
            </th>
            <th>
                <img src="https://www.nicepng.com/png/detail/120-1200789_dibujo-pelota-png-fs-la-massana.png" width="30" />
            </th>
            <th>
                VISITANTE
            </th>
            <th>
                FECHA
            </th>

            <th>
                APOSTAR
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreLocal)
                </td>
                <td>
                    <bold> @Html.DisplayFor(modelItem => item.GolesLocal)</bold>
                </td>
                <td>
                    <bold> @Html.DisplayFor(modelItem => item.GolesVisitante)</bold>
                </td>
                <td>        
                    @Html.DisplayFor(modelItem => item.NombreVisitante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    <form>
                        <input type="number" class="form-control" name="apuesta" min="1" required />
                        <select name="aposto">
                            <option value="GANA">Gana @item.NombreLocal</option>
                            <option value="EMPATA">Empata</option>
                            <option value="PIERDE">Gana @item.NombreVisitante</option>
                        </select>
                        <button asp-action="Apostar" asp-controller="Partidos" asp-route-Id="@item.Id" type="submit">Apostar</button>
                    </form>
                </td>
            </tr>

        }
    </tbody>
</table>


<style>

    body {
        background-image: url(https://images6.alphacoders.com/107/1077410.png);
    }

    .titulo {
        border: 2px solid black;
        color: white;
    }

    img {
        align-items: center;
    }


    table {
        background-color: #71AB7D;
        border-radius: 16px;
        vertical-align: middle;
    }

    th {
        text-align: center;
        font-weight: bold;
    }
</style>

