@model IEnumerable<Apuestas.Models.Partido>

@{
    ViewData["Title"] = "Apuestas.com";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="titulo">APUESTAS.COM</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GolesLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GolesVisitante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreVisitante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th></th>
        </tr>
    </thead>

    @*<tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreLocal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreVisitante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GolesLocal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GolesVisitante)
                </td>
            </tr>
        }
    </tbody>*@
</table>


<style>

    body {
        background-image: url(https://images6.alphacoders.com/107/1077410.png);
    }

    .titulo {
        border: 2px solid black;
        color: white;
    }

    img {
        align-items: center;
    }
</style>

