@model Apuestas.Models.Partido

@{
    ViewData["Title"] = "Eliminar Partido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>¿Seguro que deseas eliminar este partido?</h1>

<div>
    <h4>Partido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreLocal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreLocal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreVisitante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreVisitante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GolesLocal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GolesLocal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GolesVisitante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GolesVisitante)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>

<style>
    h4 {
        color: white;
    }
    dt, dd {
        color: white;
    }

</style>
